body {
    margin:0;
    padding: 0;
    height: 100%;
}

.wrapper_cabecera{
    min-height: 10em;

}
.container-fluid{
    padding: 0px !important;
}

.navbar{
    background-color: #151839 !important;
}
.nav-link{
    text-align: center;
}
.carousel-inner{
    overflow:visible
}
.carousel-item{
    height: 20em;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
@media only screen and (min-width: 1100px) {

    .carousel-item{
        height: 40em;
    }

}


@media only screen and (min-width: 768px) {

    .quiensomos{
        min-height: 30em !important;
    }
    .texto_quiensomos{
        width: 40% !important;
        padding: 2em !important;
    }
    .texto_quiensomos .titulo_quiensomos h1{
        font-size: xx-large !important;
    }
    .texto_quiensomos .descripcion_quiensomos{
        font-weight: normal;
        font-size: large !important;
    }

}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.slide1 h1{
    font-size: 4.5em;
    text-align: center;
    color: white;
    font-weight: bold;
}

.slide1 h2{
    font-size: 2.5em;
    color:white;
}

.slide1 button{
    color: black;
    background-color: yellow;
    margin-left: 50%;
    font-size: 2em;
    border-bottom: green;

}

@media only screen and (max-width: 768px) {

    .slide1 h1{
        text-align: left;
        font-size: 1.5em;
    }

    .slide1 h2{
        text-align: left;
        font-size: 1.5em;
    }

    .slide1 button{
        font-size: 1em;
    }

    .slide2 h2{
        font-size:1.5em;
    }

    .quiensomos{
        height: 20em !important;
    }

    .texto_quiensomos{
        height: 100%;
        width: 100%;
    }

    .map-container{
        height:  15em !important ;
    }
    .texto_formulario{
        height: auto !important;
        font-size: small;
    }
}


.socialmedia{
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
}

.socialmedia li{
    width: 2em;
    background: white;
    list-style: none;
    font-size: 1.5em;
    margin:0 0.1em;
    transition: .5s;
}

.socialmedia li a{
    display: block;
    padding-left:0.2em;
    padding-right: 0.2em;
    color: white;
}

.socialmedia li:nth-child(1){
     background: #55acee;
 }
.socialmedia li:nth-child(2){
    background: #4dc247;
}
.socialmedia li:nth-child(3){
    background: #3b5998;
}
.socialmedia li:nth-child(4){
    background: #e95950;
}
.socialmedia li:nth-child(5){
    background: #007bb5;
}
.socialmedia li:nth-child(6){
    background: #ff0000;
}

.socialmedia li:hover{
    transform: translateY(-5px);
    box-shadow:0 0.5em 0.5em rgba(0,0,0,.5);
}




.quiensomos{
    min-height: 25em;
    padding: 2em;
    background-image: url("../img/denis-post-viaje.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.texto_quiensomos{
    border: 3px solid #002147;
    width: 100%;
    min-height: 100%;
    padding: 1em;
    background-color: white;
}
.texto_quiensomos .titulo_quiensomos h1{
    font-size: 1.5em;
    color: #002147;
}

.texto_quiensomos .titulo_quiensomos h1:after{
    margin-top: 1%;
    content:' ';
    display:block;
    width: 100%;
    border:2px solid yellow;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

.texto_quiensomos .descripcion_quiensomos{
    color: #002147;
    font-weight: normal;
    font-size: small;
    height: auto;
}

.texto_quiensomos .boton_quiensomos{
    text-align: center;
    margin-top: 0.5em;
    min-height: 100%;

}

.texto_quiensomos .boton_quiensomos button{
    color: yellow;
    font-weight: bolder;
    background-color: #002147;
    min-width: 10em;
}

.columna_mapa{
    padding: 2em;
}

.map-container{
    border: 3px solid #002147;
    width: 100%;
    margin: 0 auto;
}

.columna_formulario{
    padding: 2em;
}

.formulario{
    width: auto;
}
.formulario input{
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 0.5em;
    width: auto;
}

.formulario textarea {
    padding: 0.5em;
    width: 100%;
    min-height: 10em;
}
